.admin-dashboard-container {
  background-color: var(--base-black);
  justify-content: center;
  display: flex;
  flex-direction: column;
  width:100%;
  min-height: 100vh;
  color: var(--highlight-white);
  
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 90%;
    background-color: var(--base-grey);
    color: var(--highlight-white);
    margin: 10px;
}

.admin-analytics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 90%;
    background-color: var(--base-grey);
    color: var(--highlight-white);
    margin: 10px;
    flex-wrap: wrap;

}

.admin-analytics button {
    background-color: var(--sharp-accent);
    color: var(--base-black);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    cursor: pointer;
}


.admin-actions button {
    background-color: var(--sharp-accent);
    color: var(--base-black);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    cursor: pointer;
    
}

.requests-container {
    width: 100%;
    background-color: var(--base-grey);

}

.requests-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem 2rem;
    width: 0%;
    background-color: var(--base-grey);
    color: var(--highlight-white);
    /* margin: 10px; */
    min-height: 100vh;
}

.request {
    background-color: var(--base-grey);
    color: var(--highlight-white);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 25vw;
}

.requests-container button {
    background-color: var(--light-blue);
    color: var(--base-black);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    cursor: pointer;

}

.requests-container .reject {
    background-color: var(--deep-pink);
    color: var(--highlight-white);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    cursor: pointer;
}