:root {
    --highlight-white: #FFFFFF;
    --sharp-ink: #F57CFF;
    --neutral-purple: #6C1D79;
    --light-blue: #9FA8FE;
    --sharp-blue: #55A3EB;
    --tone: #6F2DBD;
    --tone-highlight: #EF4090;
    --base: #B298DC;
    --accent: #B8D0EB;
    --sharp-accent: #B9FAF8;

}