:root {
    --highlight-white: #FFFFFF;
    --sharp-pink: #F57CFF;
    --neutral-purple: #6C1D79;
    --light-blue: #9FA8FE;
    --sharp-blue: #55A3EB;
    --deep-blue: #2a0a61;
    --tone: #6F2DBD;
    --deep-pink: #670244;
    --tone-highlight: #EF4090;
    --base: #B298DC;
    --accent: #B8D0EB;
    --sharp-accent: #B9FAF8;
    --base-grey: #2e2e2e;
    --base-black: #161616;
    --gold: #fadd5fed;
    --gold-base: #e9c603; 

}