.cc-dashboard-container {
    background-color: var(--base-black);
    justify-content: center;
    display: flex;
    flex-direction: column;
    width:100%;
    min-height: 100vh;
    color: var(--highlight-white);
}

.cc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 90%;
    background-color: var(--base-grey);
    color: var(--highlight-white);
    margin: 10px;
}

.cc-header button {
    background-color: var(--sharp-accent);
    color: var(--base-black);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    cursor: pointer;
    
}
.cc-header img{
    width: 10%;
    height: 10%;
    object-fit: contain;
    border-radius: 50%;
    margin: 0.5rem;
}

.cc-content-container {

}