.dev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--base-black);
    min-height: 100vh;
}


.text-blob {
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--base);
    color: var(--highlight-white);
    text-align: left;
    margin-bottom: 2rem;
    width: 70%;

}

.heading{
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--highlight-white);
}

.dev-body{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--highlight-white);
    display: flex;
    flex-direction: row;
}

.col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.api-token {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.generate-btn {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: var(--base);
    color: white;

}

.generate-btn:active {
    background-color: var(--base-black);
    color: var(--highlight-white)
}


.copy{
    margin-top: 1rem;
    float:right;
    font-size: 1rem;
    font-weight: 600;
    color: var(--base);
    cursor: pointer;
    border: 0 none;
    transition: all 0.3s ease;
    background-color: transparent;
    border-radius: 10px;
}

.copy:active{
    color: var(--base-black);
    background-color: var(--base);

}

.docs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-decoration: none;
}

.docs-container .a{
    text-decoration: none;
    color: var(--highlight-white);
}