.header-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  background-color: var(--base-grey);
  color: var(--tone-highlight);
  z-index: 90;
  position: absolute;
}


.menu-button {
  float: right;
  background: transparent;
  color: var(--highlight-white);
  border: 0px transparent;
  padding: 10px;
  margin: 7px;
  font-weight: 500;
}

.more-button:hover {
  background-color: var(--highlight-white);
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

.normal-button:active {
  background-color: transparent;
  color: var(--light-blue);
}

.premium-button:active {
  background: transparent;
  color: var(--gold);
  box-shadow: none;
}
