.task-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--light-blue);
    color: var(--highlight-white);
    border: 0px none;
    border-radius: 10px;
    margin: 10px;
    width: 95%;
    padding-left: 50px
    

}