.landing-container {
  background-color: var(--base-black);
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.landing-title {
  float: left;
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
}

.landing-title h1 {
  font-size: 100px;
  font-weight: 700; 
  overflow: hidden; /* Ensures the content is only shown within the .landing-title */
  border-right: .15em solid var(--tone-highlight);  /* The typwriter cursor */
  white-space: nowrap;  /* Keeps the content on a single line */
  margin: 0 auto;  /* Gives it a width */
  letter-spacing: .15em;  /* Adjust as needed */
  color: var(--sharp-accent);
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  
}

/* The typing animation */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--tone-highlight); }
}

@media (max-width: 600px) {
  .landing-title {
    margin-left: 20px; /* Less margin for smaller screens */
  }

  .landing-title h1 {
    font-size: 50px; /* Smaller font size for smaller screens */
  }
}