.landing-container {
  background-color: var(--base-black);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:first baseline;
}

.landing-title-wrapper {
  display: inline-block;
  background: linear-gradient(45deg, var(--sharp-pink), var(--sharp-blue));
  border-radius: 100px;
  padding: 10px; /* Adjust based on your desired border width */
  width: 90%;
  height: 50vh;
}

.landing-title {
  display: inline-block;
  background: transparent;
  
  border-radius: 100px;
  width: 90%;
  height: 50vh;
  background-color: var(--base-black);
  /* Other styles... */
}